<!doctype html>
<html ng-app="store">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
  <link href="main.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Untitled Document</title>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</head>

<body ng-controller="StoreController as store">
  <div >
    <script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <h1>Moives Recommendation</h1>
    
      <div  ng-repeat="product in $root.products">
        <table class="w3-table w3-striped w3-border" style="width: 80%">
          <tr>
            <th>Title</th>
            <th id="mvTitle">{{product.name}}</th>
          </tr>
          <tr>
            <th>Release date</th>
            <th>{{product.releaseDay}}</th>
          </tr>
          <tr>
            <th>Duration</th>
            <th>{{product.Duration}}</th>
          </tr>
          <tr>
            <th>Genre</th>
            <th>{{product.Genre}}</th>
          </tr>
          <tr>
            <th>Synopsis</th>
            <th>{{product.Synopsis}}</th>
          </tr>
        </table>
      </div>
      <div>
        <form name="movieForm" ng-controller="MovieController as movieCtrl" ng-submit="movieCtrl.addMovie(movieCtrl.product)">         
          <br>Title:<input ng-model="movieCtrl.product.name" type="text" name="Title" /><br> Release date:<input ng-model="movieCtrl.product.releaseDay" type="text" name="ReleaseDate" /><br> Duration: <input ng-model="movieCtrl.product.Duration" type="text"
            name="Duration" /><br> Genre:
          <input ng-model="movieCtrl.product.Genre" type="text" name="Genre" /><br> Synopsis:
          <textarea ng-model="movieCtrl.product.Synopsis"></textarea><br>
          <input type="submit" value="Submit" />
        </form>
      </div>
   
  </div>
</body>

</html>