<!doctype html>
<html ng-app="movieRecommendation">
<head>
<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
<title>Untitled Document</title>
<style>
table, th, td {
    border: 1px solid black;
}a
</style>
</head>

<body ng-controller = "MovieController as movieCtrl" >
	<div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<!--<script type="text/javascript" src="angular.min.js"></script>-->
	<script type="text/javascript" src="/app_new.js"></script>
	<h1>Movie Recommendation</h1>
	<p>
		<div>
		<table class="w3-table w3-striped w3-border" style="width: 80%">
			<tr>
				<th>Title</th>
				<th id="mvTitle">{{mvName}}</th>
			</tr>
			<tr>
				<th>Release date</th>
				<th>{{mvReleaseDay}}</th>
			</tr>
			<tr>
				<th>Duration</th>
				<th>{{mvDuration}}</th>
			</tr>
			<tr>
				<th>Genre</th>
				<th>{{mvGenre}}</th>
			</tr>
			<tr>
				<th>Synopsis</th>
				<th>{{mvSynopsis}}</th>
			</tr>
			</table>
			</div>
		<!--<div>
            <form name="movieForm" ng-controller="MovieController as movieCtrl" ng-submit="movieCtrl.addMovie()">
                    <table style="width: 80%">
        <tr>
            <th>Title</th>
            <th>{{movieCtrl.product.name}}</th>
        </tr>
        <tr>
            <th>Release date</th>
            <th>{{movieCtrl.product.releaseDay}}</th>
        </tr>
        <tr>
            <th>Duration</th>
            <th>{{movieCtrl.product.Duration}}</th>
        </tr>
        <tr>
            <th>Genre</th>
            <th>{{movieCtrl.product.Genre}}</th>
        </tr>
        <tr>
            <th>Synopsis</th>
            <th>{{movieCtrl.product.Synopsis}}</th>
        </tr>
        </table>-->
		<div class="w3-container" style="width: 80%">
		<form name="movieForm"  ng-submit="movieForm.$valid && addMovie()" class="w3-container" novalidate>
             <br>Title<input ng-model="newMovieName" type="text" name="Title" class="w3-input" required/><br>
              Release date<input ng-model="newMovieReleaseDay" type="text" name="ReleaseDate" class="w3-input" required/><br>
              Duration<input ng-model="newMovieDuration" type="text" name="Duration" class="w3-input" required/><br>
              Genre<input ng-model="newMovieGenre" type="text" name="Genre" class="w3-input" required/><br>
              Synopsis<textarea ng-model="newMovieSynopsis" class="w3-input" required></textarea><br>
              <input type="submit" value="Submit" class="w3-button w3-green"/>
		</form>
        </div>
	</p>
	</div>
</body>
</html>
